<% provide(:title, "スポットを編集する") %>
<main class="bg-white py-12 mt-16 flex justify-center">
  <div class="w-2/3 shadow-xl rounded-lg">
    <h1 class="text-3xl text-center mb-8">スポットを編集する</h1>
    <%= render 'form', spot: @spot %>
  </div>
</main>