<% provide(:title, "検索結果") %>
<div class="flex flex-col items-center py-12">
  <%= render 'search_form' %>
  <% if @spots.present? %>
    <h1 class="text-md font-semibold text-gray-700 mb-4">検索結果</h1>
      <%= render 'shared/spot' %>
  <% else %>
    <p class="text-md font-semibold text-gray-700">検索結果が見つかりませんでした。</p>
  <% end %>
</div>