<footer class="bg-blue-sky flex justify-center items-end w-full min-h-14">
  <div class="flex justify-between items-center">
    <%= link_to "利用規約", terms_of_use_path , class: "btn btn-ghost" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path , class: "btn btn-ghost" %>
    <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSfPYvJXunK-bQW_TSg4ri03KrxPnUYe223BG3Ad-zK7U0PouA/viewform" , class: "btn btn-ghost" %>
    <p>© 2024 Moto map</p>
  </div>
</footer>