<footer class="bg-blue-sky flex justify-center items-end w-full min-h-14">
  <div class="flex justify-between items-center">
    <%= link_to "利用規約", terms_of_use_path , class: "btn btn-ghost" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path , class: "btn btn-ghost" %>
    <p>© 2024 Moto map</p>
  </div>
</footer>