<footer class="bg-blue-sky w-full min-h-16 py-2">
  <div class="flex justify-center items-center font-medium md:font-semibold text-sm md:text-base">
    <%= link_to "利用規約", terms_of_use_path, class: "hover:border-b-2" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "mx-2 hover:border-b-2" %>
    <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSfPYvJXunK-bQW_TSg4ri03KrxPnUYe223BG3Ad-zK7U0PouA/viewform", class: "hover:border-b-2" %>
  </div>
  <p class="text-center">© 2024 Moto map</p>
</footer>