<main>
    <div class="text-center leading-10 h-max">
      <h1 class="text-4xl m-10">moto appの使い方</h1>
      <h2 class="text-2xl m-8">1.アカウントを作成しよう</h2>
        <p class="m-5">
          ユーザー登録をすることで、投稿することができるようになります。
          まずは登録をしてみましょう。
        </p>
      <h2 class="text-2xl m-8">2.ツーリングの感想や思い出を投稿してみよう</h2>
        <p class="m-5">
          ツーリングの思い出を投稿してみましょう。
          走った感想や途中で寄ったお店など旅の思い出を記録してみましょう。
        </p>
      <h2 class="text-2xl m-8">3.スポットを検索してみよう</h2>
        <p class="m-5">
          ツーリングでどこに行くか迷ったら検索してみましょう。
          意外なツーリングスポットが見つかるかもしれません。
        </p>
    </div>
  </main>