<% provide(:title, "投稿編集") %>
<main class="bg-white py-12 mt-16 flex justify-center">
  <div class="w-2/3 shadow-xl rounded-lg">
    <h1 class="font-bold text-3xl text-center mb-8">投稿を編集する</h1>
    <h2 class="font-bold text-3xl text-center mb-8">
      <%= @post.spot.spot_name %>
    </h2>
    <%= render 'form', post: @post, spot: @spot %>
  </div>
</main>