<% provide(:title, "ツーリング日記") %>
<div class="flex flex-col items-center bg-white py-12 shadow-xl rounded-lg">
  <h1 class="font-bold text-2xl text-gray-700 text-center mb-8">みんなのツーリング日記</h1>
  <% @posts.each do |post| %>
    <%= render 'shared/post', post: post, show_spot_info: true %>
  <% end %>
</div>
