<% provide(:title, "投稿する") %>
<div class="py-12 flex flex-col justify-between items-center w-full max-w-lg mx-auto">
  <h1 class="font-bold text-2xl text-gray-700 mb-10">感想を投稿する</h1>
  <h2 class="font-semibold text-2xl text-gray-700">
    <%= @post.spot.spot_name %>
  </h2>
  <%= render 'form', post: @post, spot: @spot %>
</div>